div.themes > div{
    width: 20px;
    height: 20px;
    float: left;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid #555;
}
.light{
    background-color: #fff;
    color: #000;
}
.dark{
    background-color: #444;
    color: #fff;
}
.yellow{
    background-color: #fff5a3;
    color: #000;
}
.green{
    background-color: #c0ff9c;
    color: #000;
}